@charset 'utf-8';
.upload-form {
    margin: 20px;
}

.title {
    font-size: 30px;
    margin: 20px auto;
}

.folder {
    width: 20%;
    height: 30px;
    box-sizing: border-box;
}

.btn {
    width: 5%;
    height: 30px;
    font-weight: bold;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
}